version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    networks:
      - app-network
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000" 
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://postgres:password@db:5432/usersdb"
      JWT_SECRET: "yourSuperSecretKey123!@"
    command: >
      sh -c "npx prisma migrate deploy && npm start"
    networks:
      - app-network

  db:
    image: postgres:14
    container_name: postgres-db
    ports:
      - "5432:5432"
    networks:
      - app-network
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - postgres-data:/var/lib/postgresql/data

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
